{% load staticfiles i18n socialaccount %}<!DOCTYPE html>
<html lang="en" ng-app="frontApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Invite2App{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">

    <!-- Your stuff: Third-party css libraries go here -->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body {% if request.user.is_authenticated %}ng-controller="MainController"{% endif %}>
    
    <div class="m-b-lg">
      <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
        <div class="container">
         <a class="navbar-brand" href="/">Invite2App</a>
          <button type="button" class="navbar-toggler hidden-sm-up pull-right" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            &#9776;
          </button>
            {% if request.user.is_authenticated %}
            {% verbatim %}
            <button  class="btn btn-primary pull-right hidden-sm-up btn-invite" ng-click="submitForm()">Invite <span ng-show="selected_friends.length>0">{{ selected_friends.length }}</span> Friends</button>
            {% endverbatim %}
            {% endif %}


          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
            <nav class="nav navbar-nav">
            </nav>
            {% if request.user.is_authenticated %}
            {% verbatim %}
            <button  class="hidden-sm hidden-xs btn btn-primary pull-right btn-invite" ng-click="submitForm()">Invite <span ng-show="selected_friends.length>0">{{ selected_friends.length }}</span> Friends</button>
            {% endverbatim %}
            {% endif %}

            <nav class="nav navbar-nav pull-right">
              {% if request.user.is_authenticated %}
                <li><a class="nav-link nav-item" href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
              {% else %}
               
                <li><a class="nav-link nav-item" href="{% provider_login_url 'facebook' process=process %}">{% trans "Log In" %}</a></li>
              {% endif %}
            </nav>

          </div>
        </div>
      </nav>
    </div>

    <div class="container app-container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
    <script type="text/javascript">
    var APP_URL = '{{ SETTINGS.APP_URL }}';
    var FACEBOOK_APP_ID = '{{ SETTINGS.FACEBOOK_APP_ID }}';
    var csrf = '{{ csrf_token }}';
    </script>
      <!-- Latest JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->

      <!-- Your stuff: Third-party javascript libraries go here -->

    <!-- bower:js -->
    <script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
    <script src="{% static "bower_components/angular/angular.js" %}"></script>
    <script src="{% static "bower_components/angular-animate/angular-animate.js" %}"></script>
    <script src="{% static "bower_components/angular-resource/angular-resource.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>
    <script src="{% static "bower_components/bootbox/bootbox.js" %}"></script>
    <script src="{% static "bower_components/ngBootbox/dist/ngBootbox.js" %}"></script>
    <script src="{% static "bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js" %}"></script>
    <!-- endbower -->
      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
      <script src="{% static 'scripts/app.js' %}"></script>
      <script src="{% static 'scripts/controllers/main.js' %}"></script>
      <script src="{% static 'scripts/services/user.js' %}"></script>
      <script src="{% static 'scripts/services/friend.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>
 
